.student{
  width:28%;
  height: auto;
  margin: 2%;
}
.profilePic{
  width: 80%;
  height: auto;
}
.negative{
  background-color: red;
}
.positive{
  background-color: green;

}
.neutral{
  background-color: yellow;
}
.questionPic{
  width: 35%;
}
